@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #ffffff;
  }
}

* {
  font-family: DM Sans, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}
