@import "tailwindcss";

:root {
  --background: #111827; /* charcoal */
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}
